*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
2D-Game-In-Android-Studio-master/README.md
.idea/vcs.xml
2D-Game-In-Android-Studio-master/.gitattributes
2D-Game-In-Android-Studio-master/Assets/A7H2dH.png
2D-Game-In-Android-Studio-master/Assets/ad86e24238b3c8e16d3c774ec7880efe.png
2D-Game-In-Android-Studio-master/Assets/background.png
2D-Game-In-Android-Studio-master/Assets/bird1.png
2D-Game-In-Android-Studio-master/Assets/bird2.png
2D-Game-In-Android-Studio-master/Assets/bird3.png
2D-Game-In-Android-Studio-master/Assets/bird4.png
2D-Game-In-Android-Studio-master/Assets/bullet.png
2D-Game-In-Android-Studio-master/Assets/c33595e1d87a6353f309df43fe810684.png
2D-Game-In-Android-Studio-master/Assets/cc916d6a473fa29ec751d1d8a2d769f9.png
2D-Game-In-Android-Studio-master/Assets/dead.png
2D-Game-In-Android-Studio-master/Assets/fly2.png
2D-Game-In-Android-Studio-master/Assets/game-background-png-2.png
2D-Game-In-Android-Studio-master/Assets/shoot1.png
2D-Game-In-Android-Studio-master/Assets/shoot2.png
2D-Game-In-Android-Studio-master/Assets/shoot3.png
2D-Game-In-Android-Studio-master/Assets/shoot4.png
2D-Game-In-Android-Studio-master/Assets/shoot5.png
2D-Game-In-Android-Studio-master/IHaveToFly/.idea/encodings.xml
2D-Game-In-Android-Studio-master/IHaveToFly/.idea/gradle.xml
2D-Game-In-Android-Studio-master/IHaveToFly/.idea/misc.xml
2D-Game-In-Android-Studio-master/IHaveToFly/.idea/runConfigurations.xml
2D-Game-In-Android-Studio-master/IHaveToFly/app/build.gradle
2D-Game-In-Android-Studio-master/IHaveToFly/app/proguard-rules.pro
2D-Game-In-Android-Studio-master/IHaveToFly/app/src/androidTest/java/com/heyletscode/ihavetofly/ExampleInstrumentedTest.java
2D-Game-In-Android-Studio-master/IHaveToFly/app/src/main/AndroidManifest.xml
2D-Game-In-Android-Studio-master/IHaveToFly/app/src/main/java/com/heyletscode/ihavetofly/Background.java
2D-Game-In-Android-Studio-master/IHaveToFly/app/src/main/java/com/heyletscode/ihavetofly/Bird.java
2D-Game-In-Android-Studio-master/IHaveToFly/app/src/main/java/com/heyletscode/ihavetofly/Bullet.java
2D-Game-In-Android-Studio-master/IHaveToFly/app/src/main/java/com/heyletscode/ihavetofly/Flight.java
2D-Game-In-Android-Studio-master/IHaveToFly/app/src/main/java/com/heyletscode/ihavetofly/GameActivity.java
2D-Game-In-Android-Studio-master/IHaveToFly/app/src/main/java/com/heyletscode/ihavetofly/GameView.java
2D-Game-In-Android-Studio-master/IHaveToFly/app/src/main/java/com/heyletscode/ihavetofly/MainActivity.java
2D-Game-In-Android-Studio-master/IHaveToFly/app/src/main/res/drawable-v24/background.png
2D-Game-In-Android-Studio-master/IHaveToFly/app/src/main/res/drawable-v24/bird1.png
2D-Game-In-Android-Studio-master/IHaveToFly/app/src/main/res/drawable-v24/bird2.png
2D-Game-In-Android-Studio-master/IHaveToFly/app/src/main/res/drawable-v24/bird3.png
2D-Game-In-Android-Studio-master/IHaveToFly/app/src/main/res/drawable-v24/bird4.png
2D-Game-In-Android-Studio-master/IHaveToFly/app/src/main/res/drawable-v24/bullet.png
2D-Game-In-Android-Studio-master/IHaveToFly/app/src/main/res/drawable-v24/dead.png
2D-Game-In-Android-Studio-master/IHaveToFly/app/src/main/res/drawable-v24/fly1.png
2D-Game-In-Android-Studio-master/IHaveToFly/app/src/main/res/drawable-v24/fly2.png
2D-Game-In-Android-Studio-master/IHaveToFly/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
2D-Game-In-Android-Studio-master/IHaveToFly/app/src/main/res/drawable-v24/shoot1.png
2D-Game-In-Android-Studio-master/IHaveToFly/app/src/main/res/drawable-v24/shoot2.png
2D-Game-In-Android-Studio-master/IHaveToFly/app/src/main/res/drawable-v24/shoot3.png
2D-Game-In-Android-Studio-master/IHaveToFly/app/src/main/res/drawable-v24/shoot4.png
2D-Game-In-Android-Studio-master/IHaveToFly/app/src/main/res/drawable-v24/shoot5.png
2D-Game-In-Android-Studio-master/IHaveToFly/app/src/main/res/drawable/ic_launcher_background.xml
2D-Game-In-Android-Studio-master/IHaveToFly/app/src/main/res/drawable/ic_volume_off_black_24dp.xml
2D-Game-In-Android-Studio-master/IHaveToFly/app/src/main/res/drawable/ic_volume_up_black_24dp.xml
2D-Game-In-Android-Studio-master/IHaveToFly/app/src/main/res/layout/activity_main.xml
2D-Game-In-Android-Studio-master/IHaveToFly/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
2D-Game-In-Android-Studio-master/IHaveToFly/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
2D-Game-In-Android-Studio-master/IHaveToFly/app/src/main/res/mipmap-hdpi/ic_launcher.png
2D-Game-In-Android-Studio-master/IHaveToFly/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
2D-Game-In-Android-Studio-master/IHaveToFly/app/src/main/res/mipmap-mdpi/ic_launcher.png
2D-Game-In-Android-Studio-master/IHaveToFly/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
2D-Game-In-Android-Studio-master/IHaveToFly/app/src/main/res/mipmap-xhdpi/ic_launcher.png
2D-Game-In-Android-Studio-master/IHaveToFly/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
2D-Game-In-Android-Studio-master/IHaveToFly/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
2D-Game-In-Android-Studio-master/IHaveToFly/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
2D-Game-In-Android-Studio-master/IHaveToFly/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
2D-Game-In-Android-Studio-master/IHaveToFly/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
2D-Game-In-Android-Studio-master/IHaveToFly/app/src/main/res/raw/shoot.mp3
2D-Game-In-Android-Studio-master/IHaveToFly/app/src/main/res/values/colors.xml
2D-Game-In-Android-Studio-master/IHaveToFly/app/src/main/res/values/strings.xml
2D-Game-In-Android-Studio-master/IHaveToFly/app/src/main/res/values/styles.xml
2D-Game-In-Android-Studio-master/IHaveToFly/app/src/test/java/com/heyletscode/ihavetofly/ExampleUnitTest.java
2D-Game-In-Android-Studio-master/IHaveToFly/build.gradle
2D-Game-In-Android-Studio-master/IHaveToFly/gradle.properties
2D-Game-In-Android-Studio-master/IHaveToFly/gradle/wrapper/gradle-wrapper.jar
2D-Game-In-Android-Studio-master/IHaveToFly/gradle/wrapper/gradle-wrapper.properties
2D-Game-In-Android-Studio-master/IHaveToFly/gradlew
2D-Game-In-Android-Studio-master/IHaveToFly/gradlew.bat
2D-Game-In-Android-Studio-master/IHaveToFly/settings.gradle
2D-Game-In-Android-Studio-master/README.md
